*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.logo-text{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    padding-top: 70px;
}
header{
    background-color: #FFF8F3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, top left;
    height: 847px;
    width: 1600px;
}

.nav-container{
    display: flex;
    justify-content: space-around;
}

.primary-text{
    color: #FD6E0A;;
}
.menu{
    
    list-style: none;
    padding-right: 50px;
    padding-top: 70px;
}

nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.menus{
    display: flex;
    justify-content: space-between;
}

.menu-btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 16px 24px 16px 24px;
    color: white;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.menu-li{
    
    line-height: normal;
    list-style: none;
    padding-top: 55px;
}